@import '../../../assets/styles/abstracts/mixins';

.main-candidate {
    background: url('https://res.cloudinary.com/demarchenac/image/upload/v1615225833/static/zemoga/ui-test/pope_lhqvhk.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: $IMAGE_SIZE;
    width: 100%;

    &__content-wrapper {
        position: relative;
        margin: 0 auto;
        max-width: 1085px;
        padding: 0 30px;
        padding-top: 170px;
        background: inherit;
    }

    &__remaining-time {
        position: absolute;
        display: flex;
        height: 70px;
        width: 100%;
        bottom: 0;
        z-index: 100;
    }
}
