<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./assets/fonts/FontAwesome/css/all.css" />
		<link rel="stylesheet" href="./assets/styles/main.css" />
		<title>Layout</title>
	</head>
	<body>
		<nav class="navbar navbar--transparent">
			<h1 class="navbar__title">Rule of Thumb.</h1>
			<ul class="navbar__list">
				<li class="navbar__item">
					<a href="./past-trials.html">Past trials</a>
				</li>
				<li class="navbar__item">
					<a href="./how-it-works.html">How it works</a>
				</li>
				<li class="navbar__item">
					<a href="./authentication.html">Log In/Sign Up</a>
				</li>
				<li class="navbar__item">
					<i class="fas fa-search"></i>
				</li>
			</ul>
		</nav>
		<main>
			<!-- Main votes or ruling -->
			<section class="main-candidate">
				<div class="main-candidate__content-wrapper">
					<div class="main-candidate__content">
						<div class="main-candidate__card">
							<div class="main-candidate-card__content">
								<span
									class="main-candidate-card-content__question"
								>
									What's your opinion on?
								</span>
								<h2
									class="main-candidate-card-content__character"
								>
									Pope Francis?
								</h2>
								<p class="main-candidate-card-content__summary">
									He’s talking tough on clergy sexual abuse,
									but is he just another papal pervert
									protector? (thumbs down) or a true pedophile
									punishing pontiff? (thumbs up)
								</p>

								<p class="main-candidate-card-content__related">
									<i class="fab fa-wikipedia-w"></i>
									<a>More information</a>
								</p>

								<h3
									class="main-candidate-card-content__callout"
								>
									What's your veredict?
								</h3>
							</div>
						</div>
					</div>
					<div class="main-candidate-card__actions">
						<div
							class="main-candidate-card__actions--upvote"
							title="up vote"
						>
							<i class="fas fa-thumbs-up"></i>
						</div>
						<div
							class="main-candidate-card__actions--downvote"
							title="down vote"
						>
							<i class="fas fa-thumbs-down"></i>
						</div>
					</div>
				</div>
				<div class="main-candidate__remaining-time">
					<div class="main-candidate-remaining-time__label">
						<span>CLOSING IN</span>
					</div>
					<div class="main-candidate-remaining-time__time-left">
						<div
							class="main-candidate-remaining-time-time-left__separator"
						>
							<div></div>
							<div
								class="main-candidate-remaining-time-time-left__separator--triangle"
							></div>
							<div></div>
						</div>
						<div
							class="main-candidate-remaining-time-time-left__duration"
						>
							<span><b>22</b> days</span>
						</div>
					</div>
				</div>
			</section>
			<div class="wrapper">
				<!-- call out section -->
				<section class="callout">
					<div class="callout__content">
						<div class="callout-content__title">
							<div class="callout-content-title__sub-heading">
								<h3>Speak out. Be heard.</h3>
							</div>
							<div class="callout-content-title__heading">
								<h3>Be counted</h3>
							</div>
						</div>
						<div class="callout-content__description">
							<p>
								Rule of Thumb is a crowd sourced court of public
								opinion where anyone and everyone can speak out
								and speak freely. It’s easy: You share your
								opinion, we analyze and put the data in a public
								report.
							</p>
						</div>
						<div class="callout-content__close">
							<span>&#10005;</span>
						</div>
					</div>
				</section>

				<!-- Gallery of rulers -->
				<section class="votes">
					<h2 class="votes__title">Votes</h2>
					<div class="votes__gallery">
						<div class="gallery__candidate"></div>
						<div class="gallery__candidate"></div>
						<div class="gallery__candidate"></div>
						<div class="gallery__candidate"></div>
					</div>
					<div class="votes__new-candiate"></div>
				</section>
			</div>
		</main>
	</body>
</html>
