<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./assets/fonts/FontAwesome/css/all.css" />
		<link rel="stylesheet" href="./assets/styles/main.css" />
		<title>Zemoga FED Test (Layout)</title>
	</head>
	<body>
		<nav class="navbar">
			<h1 class="navbar__title">Rule of Thumb.</h1>
			<ul class="navbar__list">
				<li class="navbar__item"><a href="#">Past trials</a></li>
				<li class="navbar__item"><a href="#">How it works</a></li>
				<li class="navbar__item"><a href="#">Log In/Sign Up</a></li>
				<li class="navbar__item">
					<i class="fas fa-search"></i>
				</li>
			</ul>
		</nav>
		<main>
			<!-- Main votes or ruling -->
			<section></section>

			<!-- Gallery votes or rulers -->
			<section></section>
		</main>
	</body>
</html>
