<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./assets/fonts/FontAwesome/css/all.css" />
		<link rel="stylesheet" href="./assets/styles/main.css" />
		<title>Layout</title>
	</head>
	<body>
		<nav class="navbar navbar--transparent">
			<h1 class="navbar__title">Rule of Thumb.</h1>
			<ul class="navbar__list">
				<li class="navbar__item">
					<a href="./past-trials.html">Past trials</a>
				</li>
				<li class="navbar__item">
					<a href="./how-it-works.html">How it works</a>
				</li>
				<li class="navbar__item">
					<a href="./authentication.html">Log In/Sign Up</a>
				</li>
				<li class="navbar__item">
					<i class="fas fa-search"></i>
				</li>
			</ul>
		</nav>
		<main>
			<!-- Main votes or ruling -->
			<section class="main-ruling">
				<div class="main-ruling__content">
					<div class="main-ruling-card">
						<div class="main-ruling-card__content">
							<span class="main-ruling-card__question">
								What's your opinion on?
							</span>
							<h2 class="main-ruling-card__character">
								Pope Francis?
							</h2>
							<p class="main-ruling-card__summary">
								He’s talking tough on clergy sexual abuse, but
								is he just another papal pervert protector?
								(thumbs down) or a true pedophile punishing
								pontiff? (thumbs up)
							</p>

							<p class="main-ruling-card__related">
								<i class="fab fa-wikipedia-w"></i>
								<a>More information</a>
							</p>

							<h3 class="main-ruling-card__callout">
								What's your veredict?
							</h3>
						</div>
					</div>
					<div class="main-ruling-actions">
						<div class="main-ruling-actions__upvote">
							<i class="fas fa-thumbs-up"></i>
						</div>
						<div class="main-ruling-actions__downvote">
							<i class="fas fa-thumbs-down"></i>
						</div>
					</div>
				</div>
				<div class="main-ruling__remaining-time">
					<div class="remaining-time__label">
						<span>CLOSING IN</span>
					</div>
					<div class="remaining-time__time-left">
						<div class="time-left__separator">
							<div></div>
							<div class="time-left__separator--triangle"></div>
							<div></div>
						</div>
						<div class="time-left__duration">
							<span><b>22</b> days</span>
						</div>
					</div>
				</div>
			</section>

			<!-- Gallery votes or rulers -->
			<section class="gallery-rulers">
				<div
					style="
						height: 300px;
						width: 100%;
						background-color: transparent;
					"
				></div>
			</section>
		</main>
	</body>
</html>
