@import '../../../assets/styles/abstracts/mixins';

.time-left {
    &__label {
        @include adapt-font('sm', 'regular');
        color: white;
        background-color: rgba(0, 0, 0, 0.1);
        width: 28%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        span {
            padding-right: 10px;
        }
    }

    &__quantity {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    @media only screen and (max-width: 545px) {
        &__label {
            @include adapt-font('xs', 'regular');
        }
    }
}

.time-left-quantity {
    &__separator {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 30px;

        div {
            height: calc(calc(100% / 2) - 11px);
            width: 100%;
            background-color: rgba(255, 255, 255, 0.7);
        }

        &--triangle {
            background-color: transparent !important;
            border-top: 10px solid rgba(255, 255, 255, 0.7);
            border-bottom: 10px solid rgba(255, 255, 255, 0.7);
            border-left: 15px solid rgba(0, 0, 0, 0.1);
            border-right: 15px solid rgba(255, 255, 255, 0.7);
            width: 0px;
            height: 1px;
        }
    }

    &__duration {
        height: 100%;
        width: calc(100% - 30px);
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        align-self: center;

        span {
            align-self: center;
            @include adapt-font('lg', 'regular');
            color: #464646;
        }
    }
}
