html,
body {
  background: transparent;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  margin: 30px 120px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
h1,
button {
  all: unset;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__title {
  font-size: 32pt;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar__item {
  text-decoration: none;
  font-size: 16pt;
  line-height: 16pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar__item a {
  color: black;
  -webkit-transition: 2s;
  transition: 2s;
}

.navbar__item a:visited {
  text-decoration: none;
  color: black;
}

.navbar__item a:focus {
  text-decoration: none;
  color: black;
}

.navbar__item a:hover, .navbar__item a:active {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.navbar__item i:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */