html,
body {
  background: transparent;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

i {
  color: white;
}

i:hover {
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
button {
  all: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

.callout {
  margin: 70px 0;
  width: 100%;
}

.callout__content {
  position: relative;
  padding: 30px;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.callout-content__title {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.callout-content__description {
  width: 65%;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.callout-content__description p {
  font-size: 1.3333rem;
  font-weight: 400;
}

.callout-content__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 5%;
  height: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}

.callout-content__close span {
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: 400;
}

.callout-content-title__sub-heading h3 {
  font-size: 1.75rem;
  font-weight: 300;
}

.callout-content-title__heading h3 {
  font-size: 2.6667rem;
  font-weight: 700;
}

@media only screen and (max-width: 975px) {
  .callout-content__description p {
    font-size: 0.75rem;
    font-weight: 400;
  }
  .callout-content-title__sub-heading h3 {
    font-size: 1.3333rem;
    font-weight: 400;
  }
  .callout-content-title__heading h3 {
    font-size: 1.75rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 800px) {
  .callout__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .callout-content__title {
    width: 100%;
    text-align: center;
  }
  .callout-content__description {
    margin-top: 30px;
    width: 100%;
  }
  .callout-content__close {
    position: absolute;
    top: 30px;
    right: 30px;
    height: auto;
  }
}

@media only screen and (max-width: 360px) {
  .callout-content__close {
    position: absolute;
    top: 30px;
    right: 30px;
    height: auto;
  }
  .callout-content__close span {
    font-size: 0.75rem;
    font-weight: 400;
  }
  .callout-content-title__sub-heading h3 {
    font-size: 0.75rem;
    font-weight: 400;
  }
  .callout-content-title__heading h3 {
    font-size: 1.3333rem;
    font-weight: 700;
  }
}

.votes {
  width: 100%;
}

.votes__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__candidate {
  margin-top: 30px;
  width: 492px;
  height: 550px;
  background-color: aquamarine;
}

.main-candidate {
  background: url("../images/pope.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 74.5rem;
  width: 100%;
}

.main-candidate__content-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1085px;
  padding: 0 30px;
  padding-top: 170px;
  background: inherit;
}

.main-candidate__remaining-time {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
  bottom: 0;
  z-index: 100;
}

.main-candidate__content {
  position: relative;
  margin: 0;
  max-width: 500px;
  width: 100%;
  background: inherit;
  overflow: hidden;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-candidate__content:before {
  content: '';
  top: -70px;
  left: -70px;
  right: -70px;
  bottom: -70px;
  position: absolute;
  background: inherit;
  -webkit-box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(3rem);
          filter: blur(3rem);
  z-index: -1;
}

.main-candidate__card {
  color: white;
}

.main-candidate-card__content {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-candidate-card__actions {
  position: relative;
  bottom: 0;
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-candidate-card__actions--upvote {
  cursor: pointer;
  background-color: rgba(28, 187, 180, 0.7);
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 2.6667rem;
  font-weight: 400;
}

.main-candidate-card__actions--upvote:hover {
  background-color: #1fd1c9;
}

.main-candidate-card__actions--downvote {
  cursor: pointer;
  background-color: rgba(255, 173, 29, 0.7);
  -ms-flex-item-align: center;
      align-self: center;
  padding: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 2.6667rem;
  font-weight: 400;
}

.main-candidate-card__actions--downvote:hover {
  background-color: #ffb637;
}

.main-candidate-card-content__question {
  font-size: 1.3333rem;
  font-weight: 100;
}

.main-candidate-card-content__character {
  font-size: 5rem;
  font-weight: 400;
  margin: 0;
}

.main-candidate-card-content__summary {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 24pt;
}

.main-candidate-card-content__related {
  font-size: 1.3333rem;
  font-weight: 100;
  margin: 30px 0;
}

.main-candidate-card-content__related a {
  text-decoration: underline;
}

.main-candidate-card-content__related a:hover {
  cursor: pointer;
}

.main-candidate-card-content__callout {
  font-size: 1.3333rem;
  font-weight: 700;
  line-height: 24pt;
  margin-top: 20px;
}

@media only screen and (max-width: 520px) {
  .main-candidate-card-content__question {
    font-size: 1.3333rem;
    font-weight: 100;
  }
  .main-candidate-card-content__character {
    font-size: 1.75rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .main-candidate-card-content__summary {
    font-size: 1.3333rem;
    font-weight: 300;
    line-height: 24pt;
  }
  .main-candidate-card-content__related {
    font-size: 0.75rem;
    font-weight: 100;
    margin: 30px 0;
  }
  .main-candidate-card-content__related a {
    text-decoration: underline;
  }
  .main-candidate-card-content__related a:hover {
    cursor: pointer;
  }
  .main-candidate-card-content__callout {
    font-size: 1.3333rem;
    font-weight: 700;
    line-height: 24pt;
    margin-top: 20px;
  }
}

.main-candidate-remaining-time__label {
  font-size: 1.3333rem;
  font-weight: 400;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  width: 28%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-candidate-remaining-time__label span {
  padding-right: 10px;
}

.main-candidate-remaining-time__time-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 545px) {
  .main-candidate-remaining-time__label {
    font-size: 0.75rem;
    font-weight: 400;
  }
}

.main-candidate-remaining-time-time-left__separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 30px;
}

.main-candidate-remaining-time-time-left__separator div {
  height: calc(calc(100% / 2) - 11px);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.main-candidate-remaining-time-time-left__separator--triangle {
  background-color: transparent !important;
  border-top: 10px solid rgba(255, 255, 255, 0.7);
  border-bottom: 10px solid rgba(255, 255, 255, 0.7);
  border-left: 15px solid rgba(0, 0, 0, 0.1);
  border-right: 15px solid rgba(255, 255, 255, 0.7);
  width: 0px;
  height: 1px;
}

.main-candidate-remaining-time-time-left__duration {
  height: 100%;
  width: calc(100% - 30px);
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.main-candidate-remaining-time-time-left__duration span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.6667rem;
  font-weight: 400;
  color: #464646;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  padding: 30px 10%;
  width: 100%;
  z-index: 10;
  /* Elements */
  /* Modifiers */
}

.navbar__title {
  color: white;
  width: 50%;
  font-size: 2.6667rem;
  font-weight: 400;
}

.navbar__list {
  width: 50%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
}

.navbar__item {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: 10px;
  font-size: 1.3333rem;
  font-weight: 400;
}

.navbar__item a {
  color: white;
}

.navbar__item a:visited {
  text-decoration: none;
  color: white;
}

.navbar__item a:focus {
  text-decoration: none;
  color: white;
}

.navbar__item a:hover, .navbar__item a:active {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.navbar--transparent {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 51, 51, 0)), to(#333333));
  background: linear-gradient(0deg, rgba(51, 51, 51, 0) 0%, #333333 100%);
}

@media only screen and (max-width: 550px) {
  .navbar__title {
    text-align: center;
    width: 100%;
    font-size: 1.75rem;
    font-weight: 700;
  }
  .navbar__list {
    width: 100%;
  }
  .navbar__item {
    font-size: 0.75rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 1100px) {
  .navbar__title {
    text-align: center;
    width: 100%;
  }
  .navbar__list {
    width: 100%;
  }
}

.wrapper {
  position: relative;
  margin: auto;
  padding: 0 30px;
  max-width: 1085px;
  width: 100%;
  background-color: white;
}
/*# sourceMappingURL=main.css.map */