@import '../abstracts/variables';

.callout {
	margin: 70px 0;
	width: 100%;

	&__content {
		position: relative;
		padding: 30px;
		background-color: rgb(235, 235, 235);
		display: flex;
		flex-direction: row;
	}
}

.content {
	&__title {
		width: 20%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__description {
		width: 75%;
		height: 100%;
		align-self: center;
		p {
			@include adapt-font('sm', 'regular');
		}
	}

	&__close {
		display: flex;
		flex-direction: row-reverse;
		width: 5%;
		height: 100%;
		align-self: center;

		span {
			cursor: pointer;
			@include adapt-font('md', 'regular');
		}
	}
}

.title {
	&__sub-heading {
		h3 {
			@include adapt-font('md', 'light');
		}
	}
	&__heading {
		h3 {
			@include adapt-font('lg', 'bold');
		}
	}
}
