@import '../abstracts/variables';

.votes {
	width: 100%;

	&__title {
	}

	&__gallery {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__new-candiate {
	}
}

.gallery {
	&__candidate {
		margin-top: 30px;
		width: 492px;
		height: 550px;
		background-color: aquamarine;
	}
}
