@import '../abstracts/variables';

.votes {
	width: 100%;

	&__title {
		@include adapt-font('lg', 'light');
	}

	&__gallery {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__new-candiate {
	}
}

.gallery {
	&__candidate {
		margin-top: 30px;
		width: 492px;
		height: 550px;
		background-position: right;
		position: relative;
	}
}

.candidate {
	&__content {
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		height: 100%;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			background: map-get($map: $GRADIENTS, $key: 'up');
		}
	}

	&__info {
		display: flex;
		z-index: 10;
		padding-bottom: 50px;

		&--overall-upvoted {
			padding-top: 10px;
			position: relative;

			i {
				width: 34px;
				height: 34px;
				text-align: center;
				padding: 5px;
				@include adapt-font('sm', 'solid');
				background-color: map-get($map: $COLORS, $key: 'upvote');
			}
		}

		&--overall-downvoted {
			padding-top: 10px;
			position: relative;

			i {
				width: 34px;
				height: 34px;
				text-align: center;
				padding: 5px;
				transform: rotateY(180deg);
				@include adapt-font('sm', 'solid');
				background-color: map-get($map: $COLORS, $key: 'downvote');
			}
		}
	}

	&__poll {
		order: -1;
		display: flex;
		width: 100%;
		z-index: 10;

		&--upvotes {
			display: flex;
			flex-wrap: wrap;
			background-color: map-get($map: $COLORS_WITH_APLHA, $key: 'upvote');
			padding: 10px;
			color: map-get($map: $COLORS, $key: 'text');

			i {
				@include adapt-font('md', 'solid');
			}

			h4 {
				padding-left: 5px;
				@include adapt-font('md', 'light');
			}

			&--kayne {
				width: 64%;
			}

			&--mark {
				width: 36%;
			}

			&--cristina {
				width: 36%;
			}

			&--malala {
				width: 64%;
			}
		}

		&--downvotes {
			display: flex;
			flex-direction: row-reverse;
			flex-wrap: wrap;
			background-color: map-get(
				$map: $COLORS_WITH_APLHA,
				$key: 'downvote'
			);
			padding: 10px;

			color: map-get($map: $COLORS, $key: 'text');

			i {
				order: -1;
				transform: rotateY(180deg);
				@include adapt-font('md', 'solid');
			}

			h4 {
				padding-right: 5px;
				@include adapt-font('md', 'light');
			}

			&--kayne {
				width: 36%;
			}

			&--mark {
				width: 64%;
			}

			&--cristina {
				width: 64%;
			}

			&--malala {
				width: 36%;
			}
		}
	}
}

.icon-abosulte-wrapper {
	position: absolute;
	bottom: 160px;
}

.candidate-info {
	padding-left: 39px;
	display: flex;
	flex-direction: column;
	color: map-get($map: $COLORS, $key: 'text');

	&__name {
		h3 {
			@include adapt-font('lg', 'regular');
		}
	}

	&__updated-at {
		h4 {
			@include adapt-font('xs', 'regular');

			b {
				font-weight: 900;
			}
		}
	}

	&__description {
		padding-top: 20px;
		max-height: 52px;
		min-height: 52px;

		p {
			@include adapt-font('sm', 'regular');
		}
	}

	&__actions {
		padding-top: 20px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;

		&--upvote {
			margin-top: 20px;
			margin-right: 20px;
			border: 2px solid map-get($map: $COLORS, $key: 'text');

			i {
				width: 34px;
				height: 34px;
				text-align: center;
				padding: 5px;
				@include adapt-font('sm', 'solid');
				background-color: map-get($map: $COLORS, $key: 'upvote');
			}
		}

		&--downvote {
			margin-top: 20px;
			margin-right: 20px;
			background-color: map-get($map: $COLORS, $key: 'downvote');
			border: 2px solid map-get($map: $COLORS, $key: 'downvote');
			transition: 0.3s;

			&:hover {
				border: 2px solid map-get($map: $COLORS, $key: 'white');
			}

			i {
				width: 34px;
				height: 34px;
				text-align: center;
				padding: 5px;
				transform: rotate(180deg);
				background-color: map-get($map: $COLORS, $key: 'downvote');
				@include adapt-font('sm', 'solid');
			}
		}

		&--submit {
			margin-top: 20px;
			border: 2px solid map-get($map: $COLORS, $key: 'text');
			padding: 10px 20px;
			height: 46px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.3s;

			&:hover {
				cursor: pointer;
				color: map-get($map: $COLORS, $key: 'text-negative');
				background-color: map-get($map: $COLORS, $key: 'text');
			}
		}
	}
}

@media only screen and (max-width: 380px) {
	.candidate__poll {
		&--upvotes {
			i {
				@include adapt-font('sm', 'solid');
			}

			h4 {
				@include adapt-font('sm', 'light');
			}
		}
		&--downvotes {
			i {
				@include adapt-font('sm', 'solid');
			}

			h4 {
				@include adapt-font('sm', 'light');
			}
		}
	}
}

@media only screen and (max-width: 330px) {
	.candidate__poll {
		&--upvotes {
			i {
				@include adapt-font('xs', 'solid');
			}

			h4 {
				@include adapt-font('xs', 'light');
			}
		}
		&--downvotes {
			i {
				@include adapt-font('xs', 'solid');
			}

			h4 {
				@include adapt-font('xs', 'light');
			}
		}
	}
}

@media only screen and (max-width: 325px) {
	.candidate-info {
		&__actions {
			&--upvote {
				margin-right: 10px;
			}
			&--downvote {
				margin-right: 10px;
			}
		}
	}
}

@media only screen and (max-width: 520px) {
	.candidate-info {
		&__description {
			p {
				@include adapt-font('xs', 'regular');
			}
		}
	}
}

@media only screen and (max-width: 1060px) {
	.votes {
		&__gallery {
			justify-content: center;
		}
	}
}
