@import '../abstracts/variables';

.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	padding: 30px 10%;
	height: 120px;
	width: 100%;
	z-index: 10;

	/* Elements */
	&__title {
		flex-basis: 100%;
		flex: 1;
		color: map-get($map: $COLORS, $key: 'text');
		@include adapt-font('lg', 'regular');
	}

	&__list {
		list-style: none;

		display: flex;
		flex-direction: row;
		flex-basis: 100%;
		flex: 1;
	}

	&__item {
		text-decoration: none;
		display: flex;
		flex-direction: row-reverse;
		flex-basis: 100%;
		flex: 1;

		@include adapt-font('sm', 'regular');

		a {
			color: map-get($map: $COLORS, $key: 'text');

			&:visited {
				text-decoration: none;
				color: map-get($map: $COLORS, $key: 'text');
			}

			&:focus {
				text-decoration: none;
				color: map-get($map: $COLORS, $key: 'text');
			}

			&:hover,
			&:active {
				color: map-get($map: $COLORS, $key: 'text');
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}

	/* Modifiers */
	&--transparent {
		background: map-get($map: $GRANDIENT, $key: 'down');
	}
}
