.new-candidate {
	&__content {
		width: 100%;
		display: flex;
		color: rgb(51, 51, 51);
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		@include adapt-font('md', 'regular');
	}
	&__submit {
		display: flex;
		align-items: center;
		border: 3px solid rgb(51, 51, 51);
		padding: 10px 30px;
		transition: 0.3s;
		@include adapt-font('sm', 'regular');

		&:hover {
			cursor: pointer;
			color: rgb(255, 255, 255);
			background-color: rgb(51, 51, 51);
		}
	}
}

@media only screen and (max-width: 340px) {
	.new-candidate {
		&__title {
			@include adapt-font('sm', 'regular');
		}

		&__submit {
			@include adapt-font('xs', 'regular');
		}
	}
}

@media only screen and (max-width: 905px) {
	.new-candidate {
		&__content {
			flex-direction: column;
		}

		&__submit {
			margin-top: 20px;
		}
	}
}
